<a href="https://colab.research.google.com/github/Witney-C/qm2group18/blob/main/Clinics_Data_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
!mkdir data
import pandas as pd
!curl https://raw.githubusercontent.com/Witney-C/qm2group18/main/county_complete.csv -o ./data/county_complete.csv

mkdir: cannot create directory ‘data’: File exists
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2837k  100 2837k    0     0  9303k      0 --:--:-- --:--:-- --:--:-- 9273k

In [21]:
data = pd.read_csv('/content/data/access_dataset.csv')
data.replace(to_replace={'u': 0},inplace=True)
data['Total publicly funded clinics, 2015 [1]'].astype(int)
data

       fips  ... No. of clinics per 1000 women with demand
0      1001  ...                                    0.2999
1      1003  ...                                    0.2624
2      1005  ...                                    1.2658
3      1007  ...                                    2.1186
4      1009  ...                                     0.317
...     ...  ...                                       ...
3137  56037  ...                                    0.3559
3138  56039  ...                                   #VALUE!
3139  56041  ...                                    0.4098
3140  56043  ...                                    1.3333
3141  56045  ...                                    1.5385

[3142 rows x 5 columns]

In [16]:
data2 = pd.read_csv('/content/data/county_complete.csv')
data2

       fips    state  ... white_2019  white_not_hispanic_2019
0      1001  Alabama  ...       76.8                     74.6
1      1003  Alabama  ...       86.2                     83.1
2      1005  Alabama  ...       46.8                     45.8
3      1007  Alabama  ...       76.8                     74.5
4      1009  Alabama  ...       95.5                     86.9
...     ...      ...  ...        ...                      ...
3137  56037  Wyoming  ...       93.4                     79.6
3138  56039  Wyoming  ...       89.3                     81.3
3139  56041  Wyoming  ...       93.4                     87.5
3140  56043  Wyoming  ...       89.7                     81.9
3141  56045  Wyoming  ...       97.4                     96.4

[3142 rows x 188 columns]

In [23]:
df = data[['fips', 'Total publicly funded clinics, 2015 [1]']].copy()
df

       fips Total publicly funded clinics, 2015 [1]
0      1001                                       2
1      1003                                       6
2      1005                                       3
3      1007                                       5
4      1009                                       2
...     ...                                     ...
3137  56037                                       2
3138  56039                                       0
3139  56041                                       1
3140  56043                                       1
3141  56045                                       1

[3142 rows x 2 columns]

In [25]:
df2 = data2[['fips', 'state','name','area_2010','unemployment_rate_2019','per_capita_income_2019']].copy()
df2

       fips    state  ... unemployment_rate_2019  per_capita_income_2019
0      1001  Alabama  ...                    3.5                   29819
1      1003  Alabama  ...                    4.0                   32626
2      1005  Alabama  ...                    9.4                   18473
3      1007  Alabama  ...                    7.0                   20778
4      1009  Alabama  ...                    3.1                   24747
...     ...      ...  ...                    ...                     ...
3137  56037  Wyoming  ...                    5.7                   32603
3138  56039  Wyoming  ...                    0.7                   54051
3139  56041  Wyoming  ...                    5.5                   28159
3140  56043  Wyoming  ...                    4.1                   28101
3141  56045  Wyoming  ...                    4.0                   28531

[3142 rows x 6 columns]

In [26]:
df_joined = df2.merge(df,left_on='fips',right_on='fips')
df_joined

       fips  ... Total publicly funded clinics, 2015 [1]
0      1001  ...                                       2
1      1003  ...                                       6
2      1005  ...                                       3
3      1007  ...                                       5
4      1009  ...                                       2
...     ...  ...                                     ...
3131  56037  ...                                       2
3132  56039  ...                                       0
3133  56041  ...                                       1
3134  56043  ...                                       1
3135  56045  ...                                       1

[3136 rows x 7 columns]

In [27]:
df_joined.to_csv('/content/data/clinics_factors.csv')

In [28]:
politics = pd.read_csv('https://raw.githubusercontent.com/tonmcg/US_County_Level_Election_Results_08-20/master/2016_US_County_Level_Presidential_Results.csv')
politics.head()

   Unnamed: 0  votes_dem  votes_gop  ...  state_abbr  county_name  combined_fips
0           0    93003.0   130413.0  ...          AK       Alaska           2013
1           1    93003.0   130413.0  ...          AK       Alaska           2016
2           2    93003.0   130413.0  ...          AK       Alaska           2020
3           3    93003.0   130413.0  ...          AK       Alaska           2050
4           4    93003.0   130413.0  ...          AK       Alaska           2060

[5 rows x 11 columns]

In [29]:
df3 = politics[['combined_fips','per_dem','per_gop']].copy()
df3

      combined_fips   per_dem   per_gop
0              2013  0.377159  0.528870
1              2016  0.377159  0.528870
2              2020  0.377159  0.528870
3              2050  0.377159  0.528870
4              2060  0.377159  0.528870
...             ...       ...       ...
3136          56037  0.194046  0.729428
3137          56039  0.600608  0.321945
3138          56041  0.149261  0.764187
3139          56043  0.143203  0.783580
3140          56045  0.088182  0.869226

[3141 rows x 3 columns]

In [31]:
df_new = df_joined.merge(df3,left_on='fips',right_on='combined_fips')
df_new.drop('combined_fips', axis=1, inplace=True)
df_new

       fips    state  ...   per_dem   per_gop
0      1001  Alabama  ...  0.239569  0.734358
1      1003  Alabama  ...  0.195653  0.773515
2      1005  Alabama  ...  0.466603  0.522714
3      1007  Alabama  ...  0.214220  0.769662
4      1009  Alabama  ...  0.084699  0.898519
...     ...      ...  ...       ...       ...
3130  56037  Wyoming  ...  0.194046  0.729428
3131  56039  Wyoming  ...  0.600608  0.321945
3132  56041  Wyoming  ...  0.149261  0.764187
3133  56043  Wyoming  ...  0.143203  0.783580
3134  56045  Wyoming  ...  0.088182  0.869226

[3135 rows x 9 columns]

In [33]:
df_new.to_csv('/content/data/clinics_factors.csv')